<!DOCTYPE HTML>
<html>
<head>
    <title>Flask SocketIO Progressbar</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            namespace = '/test'; // change to an empty string to use the global namespace
            var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
            socket.on('progressbar', function(message){
                $('#progressbar').val(message.percent);
            });

            socket.on('my response', function(msg) {
                $('#log').append('<br>Received #' + msg.count + ': ' + msg.data);
            });
        });
    </script>
</head>
<body>
    <h1>Flask-SocketIO Progressbar</h1>
    <input type="text" id="progressbar">
    <div id="log"></div>
</body>
</html>
